# fly.toml app configuration file generated for ilanzgx-market-api on 2025-12-06T09:12:48-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ilanzgx-market-api'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = "256mb"
  size = 'shared-cpu-1x'
