# fly.toml app configuration file generated for ilanzgx-spring-boot-api on 2025-12-06T09:22:23-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ilanzgx-spring-boot-api'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    grace_period = "120s"
    interval = "30s"
    method = "GET"
    timeout = "10s"
    path = "/actuator/health"

[env]
  SERVER_PORT = "8080"
  SERVER_ADDRESS = "0.0.0.0"
  REDIS_SSL = "true"

# Impossivel iniciar uma aplicação Spring Boot com 256mb de memória
# Fora do plano gratuito (256mb)
[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
